@charset "UTF-8";


.main-reply{
	width: 1000px;
    padding: 55px;
	background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 10%);
    margin: 30px auto;
}
.form-control {
	width: 100%;
	height: 100px;
}

body{
    margin-top:20px;
    background:#ebeef0;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}


.media-body {
    display: block;
    overflow: hidden;
    width: auto;
    margin: 20px;
}
.reply-block{
	margin-left: 80px;
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}


.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #acacac;
}
.text-sm {
    font-size: 0.9em;
    margin-top:5px;
}

.mar-top {
    margin-top: 15px;
    text-align: right;
}
.comment-writer{
	font-weight:bold;
	font-size: 18px;
}
.reply-write{
	background-color: rgb(170 170 170 / 30%);
    padding: 7px 10px;
    border-radius: 0.2rem;
    border: 0;
    width: 50px;
    margin-right:5px;
}
div.comments-block{
	box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
  	padding: 5px;
}
div.panel-body {
    padding: 25px 20px;
}

textarea{
	font-size: 15px;
}
