@charset "EUC-KR";
/* LOGIN */
.user_id_pass {
	width: 92%;
	border: 3px solid #6667AB;
	padding: 5px;
	margin-top: 3%;
	border-radius: 5px 5px 5px 5px;
}

.login_font {
	font-weight: bold;
	color: black;
	padding-bottom: 2%;
}

.login_btn {
	width: 40%;
	background-color: transparent;
	border-radius: 13px;
	border: 3px solid #6667ab;
	display: block;
	cursor: pointer;
	color: #6667ab;
	font-family: sans-serif;
	font-size: 17px;
	padding: 3px 20px;
	text-align: center;
	margin-left: 56%;
	margin-top: 15%;
}

}
.login_btn:hover {
	background-color: transparent;
}

.login_btn:active {
	position: relative;
	top: 1px;
}

.login_title {
	text-align: center;
	padding-bottom : 3%;
	border-bottom: thick double #6667ab;
}